<section class="user-show">
  <div class="shared-user-box">
    <%= render partial: "shared/user-box", locals: { user: @user } %>
  </div>
  <div class="user-info">
    <% @posts.each do |post| %>
      <div class="post-comment-block">
        <%= render partial: "shared/post-preview", locals: { post: post, user: @user } %>
        <div class="user-post-preview">
          <% post.last_five_comments.each do |comment| %>
            <p class="comment"><%=comment.user.name %>: <%=comment.text %></p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="div-see-all">
    <button type="button" class="btn-see-all">Pagination</button>
  </div>
</section>